@inherits LayoutComponentBase


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Patient Dashboard</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pateints">
                <span class="oi oi-list-rich" aria-hidden="true">
                    <i class="bi bi-lungs-fill"></i>
                </span> Patient
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Speciality">
                <span class="oi oi-list" aria-hidden="true"><i class="bi bi-file-plus-fill"></i></span> Specaility
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doctors">
                <span class="oi oi-list-rich" aria-hidden="true"><i class="bi bi-clipboard2-pulse"></i></span> Doctors
            </NavLink>
        </div>  <div class="nav-item px-3">
            <NavLink class="nav-link" href="Appoitment">
                <span class="oi oi-list-rich" aria-hidden="true">
                    <i class="bi bi-bookmark-plus"></i>
                </span> Appoitment
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
